<ion-header>
  <ion-toolbar class="header-background">
    <ion-title>FAQ</ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="faq-wrapper">
    <section>
      <h3 class="head">General FAQ</h3>
    <h4 class="sub-head">About Ireland Carpool</h4>
    <p>Ireland Carpooling is a way to give basic mobility to all parts of the population, which has a positive impact on economic growth and wellbeing. It helps the people to save time and money. It reduced traffic congestions and energy consumption. It also helps is preventing global warming by reducing the carbon dioxide emission.</p>
    </section>

    <section>
      <h4 class="sub-head">What is Carpooling?</h4>
      <p>When two or more people share a ride, it is known as carpooling. It enables consumers to cut expenditures while also addressing congestion and emissions issues.</p>
    </section>

    <section>
      <h4 class="sub-head">When I can use Carpooling?</h4>
      <ul>
        <li>Commuting to work</li>
        <li>Travel to hometown on weekend</li>
        <li>Drop or pick kids to school or after school activities.</li>
        <li>Get to movies, shopping, events and conferences with friends</li>
      </ul>
    </section>

    <section>
      <h4 class="sub-head">What are benefits of Carpooling?</h4>
      <p>You may save money on petrol, tolls, and parking by carpooling.</p>
      <ul>
        <li>Takes automobiles off the road and decreases emissions, traffic, and parking difficulties.</li>
        <li>Keep in touch with friends and family while on the road. Make a friend.</li>
        <li>Share your commute with a friend and see how much less stressful it is. Carpooling can help you stay healthy.</li>
      </ul>
    </section>

    <section>
      <h4 class="sub-head">Is carpooling a safe option?</h4>
      <p>Our primary focus is the safety of our members, so we've made our application extremely secure to safeguard that element of carpooling. All of our users' identities are verified via phone and work email. Because user reviews are required at the end of each ride, each user receives an increasing number of review comments as they complete their rides. Previous co-riders' review ratings assist other individuals in selecting these users based on their average review ratings.</p>
    </section>

    <section>
      <h4 class="sub-head">What happens if my riding partner fails to show up?</h4>
      <p>You must wait for at least 5 minutes after arriving at the designated departure location. Please communicate with your co-rider by chat, phone, or SMS. We also encourage co-riders to respect and inform each other in the event of delays.</p>
      <p>If you do not desire to take the ride, we strongly advise you to cancel your trip so that everyone is aware and may book another ride.</p>
    </section>


    <section>
      <h3 class="head">How to Use the Ireland Carpool Application.</h3>
      <h4 class="sub-head">How do I post a ride?</h4>
      <p>To add a single ride, click the Plus button and select "Add a Single Trip." You can create a recurring journey by entering your home and office addresses, as well as your preferred morning and evening trip times.</p>
    </section>

    <section>
      <h4 class="sub-head">How do I check my matches?</h4>
      <p>You'll get your matches on the app as soon as you publish a trip. If no matches are available right now, we'll keep your trip preferences and give you a match notification as soon as one becomes available.</p>
      <p>Matches can also be found under the "Rides" section –> "Matches."</p>
      <p>You may also use the "Search" feature at the top of the app to look for matches.</p>
    </section>

    <section>
      <h4 class="sub-head">How do I send a request or edit my requests?</h4>
      <p>When you have a list of matches, you can send requests to one or more of them. The individual who accepts your request first will be the one who will book your ride. All additional requests for the same trip will be cancelled automatically.</p>
      <p>Under the "Request" area, you can also cancel requests.</p>
      <p>You have the option to ACCEPT or DECLINE a request from a co-rider based on your preferences.</p>
    </section>

    <section>
      <h4 class="sub-head">How do I cancel my ride?</h4>
      <p>To cancel your ride, go to my rides, edit the ride, and select the cancel option.</p>
    </section>

    <div class="copy-right text-center">
       <p>Copyright 2022 @Sumit Bhosale. All rights reserved.</p>
    </div>
  </div>
</ion-content>
