<ion-header>
  <ion-toolbar class="header-background">
    <ion-title class="ion-text-center">{{isLoginView ? 'Login': 'Register'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding login-page page-background"> 
  	<!-- logo section -->
    <div class="logo-section">
      <img src="assets/carpool-logo.png" alt="">
    </div>
    <!-- logo section end--> 
  <!-- login form -->
  <div class="login-form" *ngIf="isLoginView">
    <form [formGroup]="loginForm">
        <ion-list>
            <ion-item>
              <ion-label  position="floating">Mobile *</ion-label>
              <ion-input type="tel" name="loginNumber" formControlName="mobileNo" maxlength="10" minlength="8"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password *</ion-label>
              <ion-input type="password" name="loginPassword" formControlName="password" ></ion-input>
            </ion-item>
          </ion-list>
          <div class="text-center button-holder">
              <button class="btn-carpool-primary btn btn-full " (click)="submitLogin(loginForm);">Login</button>
          </div>
    </form>
    <div class="form-info">
        <h6>New User? <span (click)="toggleView()">Register</span></h6>
      </div>
  </div>
  <!-- login form end -->
  <!-- register form -->
  <div class="register-form" *ngIf="!isLoginView">
    <form [formGroup]="registerForm">
        <ion-list>
            <ion-item>
              <ion-label  position="floating">Fullname *</ion-label>
              <ion-input type="text" name="Fullname" formControlName="fullname"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label  position="floating">Mobile *</ion-label>
              <ion-input type="tel" name="registerNumber" formControlName="registerMobileNo" maxlength="10" minlength="8"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label  position="floating">Email *</ion-label>
              <ion-input type="email" name="emailId" formControlName="emailId"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Gender *</ion-label>
              <ion-select placeholder="Select One" formControlName="gender">
                <ion-select-option value="f">Female</ion-select-option>
                <ion-select-option value="m">Male</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password *</ion-label>
              <ion-input type="password" name="loginPassword" formControlName="registerPassword"></ion-input>
            </ion-item>
          </ion-list>
          <div class="text-center button-holder">
              <button class="btn-carpool-primary btn btn-full " (click)="register(registerForm);">Register</button>
          </div>
    </form>
      <div class="form-info">
          <h6>Click here to <span (click)="toggleView()">Login</span></h6>
        </div>
  </div>
  <!-- register form end -->
</ion-content>
