@import 'src/global.scss';

.tabs-heading {
    display: flex;
    box-shadow: 0px 1px 2px #aeaeae;
    .list {
        padding: 18px 0;
        flex: 1;
        border-bottom: 2px solid transparent;
        text-align: center;
        &.active {
            border-bottom: 2px solid $color-primary;
        }
    }
}

.tabs-view {
    padding: 25px 15px 0;
    .no-ride-img {
        width: 315px;
        height: 182px;
        margin: 50px auto 0;
        background: url('/assets/carpool-sprite.png') no-repeat -702px -564px;
        zoom: .7;
    }
}