<ion-header>
  <ion-toolbar class="header-background text-center">
    <ion-title>Contact Us</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contact-us-list">
    <ul>
      <li><a href="mailto:irelandcarpool@gmail.com">Change Contact Number</a></li>
      <li><a href="mailto:irelandcarpool@gmail.com">Initiate payment issues</a></li>
      <li><a href="mailto:irelandcarpool@gmail.com">Ride related issues</a></li>
      <li><a href="mailto:irelandcarpool@gmail.com">Other Issues</a></li>
      <li><a href="mailto:irelandcarpool@gmail.com">Suggestions &amp; Improvements</a></li>
      <li><a href="mailto:irelandcarpool@gmail.com">Email Us</a></li>
      <li><a href="tel:+353899544544">Call Us</a></li>
    </ul>
  </div>
</ion-content>
