@import 'src/global.scss';

.wrapper {
    padding: 20px;
    ion-list {
        padding: 15px;
    }
    .item-input, .item-select {
        margin-bottom: 20px;
    }
    .label-floating {
        color: $color-secondary;
    }
    .item-has-value, .item-has-focus {
        --highlight-background : $color-secondary;
        .label-floating {
            color: $color-secondary;
        }
    }
    .item-has-value.ion-invalid {
        --highlight-background :#eb445a ;
    }
    .select-icon {
        color: $color-secondary;
        opacity: 1;
    }
    .item-select {
        &:hover { background: transparent; }
        ::ng-deep {
            ion-label { color: $color-secondary !important; }
        }
    }


    .button-wrapper {
        position: relative;
        margin: 20px 0;
        text-align: center;
        input[type="file"] {
            width: 180px;
            height: 40px;
            position: absolute;
            opacity: 0;
        }
    }

    .view-file {
        max-height: 400px;
        overflow: hidden;
        text-align: center;
    }
}